.page {
  height: 100%;
}

.page body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.page__container {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

@media (max-width: $max-mobile-width) {
  .page__container {
    width: 100vw;
  }
}
